.main-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}
.user-settings-form {
    background: white;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
    animation: fadeInUp 0.6s ease-out;
}
h1{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.form-group {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}
.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.form-group input{
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1.6rem;
}

.form-actions {
    text-align: center;
}

.btn-save {
    background-color: #4CAF50;
    color: white;
    padding: 0.8rem 10rem;
    border: none;
    border-radius: 25px;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}